<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <input type="text" v-model="nama">
        <button id=AddEdit v-on:click="AddorUpdate">Add</button>
        <ul>
            <li v-for="(user, key) in users">
                    {{user.name}}
                    <button v-on:click="ubah(key)"> edit </button>
                    <button v-on:click="hapus(key)"> delete </button>
            </li>
        </ul>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"> </script>
    <script>
    var vo = new Vue({
    el : '#app',
    data : {
        users: [
            {
                'name' : 'Muhammad Iqbal Mubarok'
            },
            {
                'name' : 'Ruby Purwanti'
            },
            {
                'name' : 'Faqih Muhammad'
            }
        ],
        nama: "",
        indexuser:0,
    },
    methods : {
        AddorUpdate: function () {
            if (document.querySelector('#AddEdit').textContent == 'Add') {
                this.users.push({"name":this.nama});
            } else {
                this.users[this.indexuser].name = this.nama;
                document.querySelector('#AddEdit').textContent = 'Add';
            }
            this.nama=''
        },
        ubah: function (key) {
            this.nama = this.users[key].name;
            document.querySelector('#AddEdit').textContent = 'edit';
            this.indexuser = key;
        },
        hapus: function (key) {
            var hapusdata = confirm("hapus data?");
            if (hapusdata) {
                this.users.splice(key,1);
            }
        }
    },
    watch: {
        nama: function (val) {
            this.nama = val
        }
    }
}) 
    </script>
</body>
</html>